body {
    margin: 0;
    background-color: #36393f;
    color: #fff;
    font-size: 0;
    padding: 40px;
    text-align: center;
}

* {
    font-family: monospace;
    line-height: 100%;
    box-sizing: border-box;
}

label {
    font-size: 20px;
}

input {
    background-color: #1e1e1e;
    color: #fff;
    border: 0;
    outline: 0;
    width: 80px;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    margin: 5px 0;
}

textarea {
    background-color: #1e1e1e;
    color: #fff;
    border: 0;
    outline: 0;
    width: 1000px;
    max-width: 100%;
    resize: vertical;
    min-height: 100px;
    max-height: 700px;
    font-size: 20px;
    margin: 5px 0;
    text-align: left;
    padding: 10px;
    border-radius: 5px;
}